In [21]:
# Exercise 1: Preparing data for linear regression model
import pandas as pd
import seaborn as sbs
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from scipy.stats import shapiro
from sklearn import metrics
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [22]:
df = pd.read_csv('2016_-_Cities_Emissions_Reduction_Targets_20240207.csv')
df1 = pd.read_csv('2016_-_Citywide_GHG_Emissions_20240207.csv')
df2 = pd.read_csv('2017_-_Cities_Community_Wide_Emissions.csv')
df3 = pd.read_csv('2017_-_Cities_Emissions_Reduction_Targets_20240207.csv')
df4 = pd.read_csv('2023_Cities_Climate_Risk_and_Vulnerability_Assessments_20240207.csv')

In [23]:
df1.head(10)

,Account Number,City Name,Country,City Short Name,C40,Reporting Year,Measurement Year,Boundary,Primary Methodology,Methodology Details,...,Current Population,City GDP,GDP Currency,Year of GDP,GDP Source,Average annual temperature (in Celsius)​,​Land area (in square km),Average altitude (m),City Location,Country Location
0,35894,Ville de Montreal,Canada,Montreal,NaN,2016,12/31/2009 12:00:00 AM,Other: The regional entity that constitutes th...,2006 IPCC Guidelines for National Greenhouse G...,2006 IPCC Guidelines for National Greenhouse G...,...,1886481.0,1.201180e+11,CAD Canadian Dollar,2014.0,"Ville de Montréal, Montréal en statistiques, h...",6.8,500.0,17.0,"(45.5086699, -73.5539925)","(56.130366, -106.346771)"
1,35898,Greater Manchester,United Kingdom,Manchester,NaN,2016,12/31/2013 12:00:00 AM,A metropolitan area,Global Protocol for Community-Scale Greenhouse...,A GPC Compliant dataset has been established f...,...,2762000.0,8.777300e+10,NaN,2013.0,UK ONS (using 1.56 USD/GBP) Figures provided i...,9.5,1277.0,250.0,"(53.4575955, -2.1578377)","(55.378051, -3.435973)"
2,54128,City of Reno,USA,Reno,NaN,2016,12/31/2014 12:00:00 AM,Administrative boundary of a local government,Global Protocol for Community-Scale Greenhouse...,Also utilized the U.S. Community Protocol for ...,...,236995.0,1.000000e+10,USD US Dollar,2014.0,Bureau of Economic Analysis10.4,10.4,288.0,1373.0,"(39.5296, -119.8138)","(37.09024, -95.712891)"
3,35879,City of Minneapolis,USA,Minneapolis,NaN,2016,12/31/2014 12:00:00 AM,Administrative boundary of a local government,U.S. Community Protocol for Accounting and Rep...,A note regarding how double counting is avoide...,...,407207.0,2.357000e+11,USD US Dollar,2014.0,http://www.bea.gov/iTable/iTable.cfm?reqid=70&...,7.9,139.8,264.0,"(44.983334, -93.26667)","(37.09024, -95.712891)"
4,50558,"City of London, ON",Canada,"London, ON",NaN,2016,12/31/2014 12:00:00 AM,Administrative boundary of a local government,International Emissions Analysis Protocol (ICLEI),as adapted by ICLEI Canada for use in the FCM'...,...,375000.0,1.540000e+10,CAD Canadian Dollar,2014.0,"Conference Board of Canada, London Census Metr...",7.9,421.0,251.0,"(42.9837, -81.2497)","(56.130366, -106.346771)"
5,54520,Ville de Lausanne,Switzerland,Lausanne,NaN,2016,12/31/2013 12:00:00 AM,Administrative boundary of a local government,Other,Baseline Emission Inventory of the Covenant of...,...,140000.0,8.834000e+09,NaN,2014.0,calculated by city government,12.0,55.0,500.0,"(46.5198, 6.6335)","(46.818188, 8.227512)"
6,43910,City of Columbus,USA,Columbus,NaN,2016,12/31/2015 12:00:00 AM,Administrative boundary of a local government,Global Protocol for Community-Scale Greenhouse...,Basic Reporting.,...,835957.0,1.080890e+11,USD US Dollar,2014.0,https://development.ohio.gov/files/research/E1...,11.6,563.0,275.0,"(39.9611755, -82.9987942)","(37.09024, -95.712891)"
7,50220,Métropole Nice Côte d'Azur,France,Nice Côte d'Azur,NaN,2016,12/31/2010 12:00:00 AM,A metropolitan area,Other,Bilan Carbone,...,550000.0,NaN,NaN,NaN,NaN,NaN,1400.0,18.0,"(43.710173, 7.261953)","(46.227638, 2.213749)"
8,44182,Incheon Metropolitan City,South Korea,Incheon,NaN,2016,12/31/2015 12:00:00 AM,Administrative boundary of a local government,Other,Calculation Korea Environment Corporation muni...,...,2983484.0,6.837300e+13,KRW South Korean Won,2014.0,KOSIS,12.7,1381.0,26.0,"(37.456256, 126.705206)","(35.907757, 127.766922)"
9,3203,City of Chicago,USA,Chicago,C40,2016,12/31/2010 12:00:00 AM,Administrative boundary of a local government,Other,Chicago conducts regional GHG emissions invent...,...,2719000.0,5.631880e+11,NaN,2014.0,Brookings Institution,9.4,606.0,181.0,"(41.8781136, -87.6297982)","(37.09024, -95.712891)"

In [24]:
list(df1)

['Account Number',
 'City Name',
 'Country',
 'City Short Name',
 'C40',
 'Reporting Year',
 'Measurement Year',
 'Boundary',
 'Primary Methodology',
 'Methodology Details',
 'Gases included',
 'Total City-wide Emissions (metric tonnes CO2e)',
 'Total Scope 1 Emissions (metric tonnes CO2e)',
 'Total Scope 2 Emissions (metric tonnes CO2e)',
 'Increase/Decrease from last year',
 'Reason for increase/decrease in emissions',
 'Current Population Year',
 'Current Population',
 'City GDP',
 'GDP Currency',
 'Year of GDP',
 'GDP Source',
 'Average annual temperature (in Celsius)\u200b',
 '\u200bLand area (in square km)',
 'Average altitude (m)',
 'City Location',
 'Country Location']

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 27 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Account Number                                  187 non-null    int64
 1   City Name                                       187 non-null    object
 2   Country                                         187 non-null    object
 3   City Short Name                                 187 non-null    object
 4   C40                                             54 non-null     object
 5   Reporting Year                                  187 non-null    int64
 6   Measurement Year                                187 non-null    object
 7   Boundary                                        187 non-null    object
 8   Primary Methodology                             187 non-null    object
 9   Methodology Details                             133 non-null    object
 10  Gases included                                  181 non-null    object
 11  Total City-wide Emissions (metric tonnes CO2e)  187 non-null    float64
 12  Total Scope 1 Emissions (metric tonnes CO2e)    134 non-null    float64
 13  Total Scope 2 Emissions (metric tonnes CO2e)    132 non-null    float64
 14  Increase/Decrease from last year                166 non-null    object
 15  Reason for increase/decrease in emissions       144 non-null    object
 16  Current Population Year                         187 non-null    int64
 17  Current Population                              185 non-null    float64
 18  City GDP                                        130 non-null    float64
 19  GDP Currency                                    123 non-null    object
 20  Year of GDP                                     137 non-null    float64
 21  GDP Source                                      130 non-null    object
 22  Average annual temperature (in Celsius)​        177 non-null    float64
 23  ​Land area (in square km)                       184 non-null    float64
 24  Average altitude (m)                            168 non-null    float64
 25  City Location                                   187 non-null    object
 26  Country Location                                187 non-null    object
dtypes: float64(9), int64(3), object(15)
memory usage: 39.6+ KB

In [26]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 31 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Account number                                229 non-null    int64
 1   Organization                                  229 non-null    object
 2   City                                          229 non-null    object
 3   Country                                       229 non-null    object
 4   Region                                        229 non-null    object
 5   C40                                           56 non-null     object
 6   Access                                        229 non-null    object
 7   Reporting year                                229 non-null    int64
 8   Accounting year                               229 non-null    object
 9   Boundary                                      229 non-null    object
 10  Protocol                                      229 non-null    object
 11  Protocol column                               151 non-null    object
 12  Gases included                                111 non-null    object
 13  Total emissions (metric tonnes CO2e)          217 non-null    float64
 14  Scopes Included                               229 non-null    object
 15  Total Scope 1 Emissions (metric tonnes CO2e)  173 non-null    float64
 16  Total Scope 2 Emissions (metric tonnes CO2e)  172 non-null    float64
 17  Comment                                       79 non-null     object
 18  Increase/Decrease from last year              209 non-null    object
 19  Reason for increase/decrease in emissions     178 non-null    object
 20  Population                                    229 non-null    int64
 21  Population year                               229 non-null    int64
 22  GDP                                           181 non-null    float64
 23  GDP Currency                                  184 non-null    object
 24  GDP Year                                      185 non-null    float64
 25  GDP Source                                    178 non-null    object
 26  Average annual temperature (in Celsius)​      223 non-null    float64
 27  ​Average altitude (m)                         207 non-null    float64
 28  ​Land area (in square km)                     228 non-null    float64
 29  City Location                                 229 non-null    object
 30  Country Location                              229 non-null    object
dtypes: float64(8), int64(4), object(19)
memory usage: 55.6+ KB

In [27]:
df2.head(10)

,Account number,Organization,City,Country,Region,C40,Access,Reporting year,Accounting year,Boundary,...,Population year,GDP,GDP Currency,GDP Year,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location
0,49363,Nelson Mandela Bay Municipality,Nelson Mandela Bay,South Africa,Africa,NaN,Public,2017,2013-07-01 - 2014-06-30,A metropolitan area,...,2011,5.214700e+04,ZAR South African Rand,2010.0,Built Environment Performance Plan(BEPP),17.5,69.0,1950.0,"(-33.745241, 25.568108)","(-30.559482, 22.937506)"
1,31171,Ayuntamiento de Madrid,Madrid,Spain,Europe,C40,Public,2017,2014-01-01 - 2014-12-31,Administrative boundary of a local government,...,2016,1.293780e+11,EUR Euro,2015.0,Contabilidad Municipal Trimestral. Ciudad de M...,15.0,655.0,604.0,"(40.1076253, -3.3875673)","(40.463667, -3.74922)"
2,3417,New York City,New York City,USA,North America,C40,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2016,1.558520e+12,USD US Dollar,2015.0,http://www.brookings.edu/research/reports2/201...,13.0,10.0,784.0,"(40.7127837, -74.0059413)","(37.09024, -95.712891)"
3,59537,"City of Denton, TX","Denton, TX",USA,North America,NaN,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2015,NaN,NaN,NaN,NaN,18.2,192.0,227.8,"(33.214841, -97.133068)","(37.09024, -95.712891)"
4,35894,Ville de Montreal,Montreal,Canada,North America,C40,Public,2017,2013-01-01 - 2013-12-31,A metropolitan area,...,2013,1.154128e+08,CAD Canadian Dollar,2013.0,Institut de la statistique du Québec,6.8,17.0,500.0,"(45.5086699, -73.5539925)","(56.130366, -106.346771)"
5,2430,City of Burlington,Burlington,USA,North America,NaN,Public,2017,2010-01-01 - 2010-12-31,Administrative boundary of a local government,...,2015,1.270000e+07,USD US Dollar,2014.0,Bureau of Economic Analysis,7.7,61.0,40.1,"(44.4758825, -73.212072)","(37.09024, -95.712891)"
6,43937,Wellington City Council,Wellington,New Zealand,South Asia and Oceania,NaN,Public,2017,2014-07-01 - 2015-06-30,Administrative boundary of a local government,...,2017,1.845200e+10,NZD New Zealand Dollar,2015.0,Infometrics,12.7,NaN,290.1,"(26.661763, -80.268357)","(-40.900557, 174.885971)"
7,16581,City of Seattle,Seattle,USA,North America,C40,Public,2017,2014-01-01 - 2014-12-31,Administrative boundary of a local government,...,2015,3.008270e+11,NaN,2014.0,US Dept Commerce for Seattle-Tacoma-Bellevue r...,11.0,15.0,3692.0,"(47.6062, -122.3321)","(37.09024, -95.712891)"
8,54386,Tainan City Government,Tainan,Taiwan,East Asia,NaN,Public,2017,2014-01-01 - 2014-12-31,Administrative boundary of a local government,...,2016,4.249232e+10,USD US Dollar,2016.0,"National Statistics, ROC (Taiwan)",24.0,NaN,2192.0,"(22.9999, 120.2269)","(23.69781, 120.960515)"
9,49342,City of Rochester,Rochester,USA,North America,NaN,Public,2017,2014-01-01 - 2014-12-31,Administrative boundary of a local government,...,2010,4.320200e+04,USD US Dollar,2013.0,Open Data Network,9.0,154.0,96.0,"(43.161, -77.6109)","(37.09024, -95.712891)"

In [53]:
df1.shape

(187, 27)

In [28]:
missing_values = df1.isnull().sum()
missing_values

Account Number                                      0
City Name                                           0
Country                                             0
City Short Name                                     0
C40                                               133
Reporting Year                                      0
Measurement Year                                    0
Boundary                                            0
Primary Methodology                                 0
Methodology Details                                54
Gases included                                      6
Total City-wide Emissions (metric tonnes CO2e)      0
Total Scope 1 Emissions (metric tonnes CO2e)       53
Total Scope 2 Emissions (metric tonnes CO2e)       55
Increase/Decrease from last year                   21
Reason for increase/decrease in emissions          43
Current Population Year                             0
Current Population                                  2
City GDP                                           57
GDP Currency                                       64
Year of GDP                                        50
GDP Source                                         57
Average annual temperature (in Celsius)​           10
​Land area (in square km)                           3
Average altitude (m)                               19
City Location                                       0
Country Location                                    0
dtype: int64

In [29]:
df1.shape

(187, 27)

In [30]:
missing_values = df2.isnull().sum()
missing_values

Account number                                    0
Organization                                      0
City                                              0
Country                                           0
Region                                            0
C40                                             173
Access                                            0
Reporting year                                    0
Accounting year                                   0
Boundary                                          0
Protocol                                          0
Protocol column                                  78
Gases included                                  118
Total emissions (metric tonnes CO2e)             12
Scopes Included                                   0
Total Scope 1 Emissions (metric tonnes CO2e)     56
Total Scope 2 Emissions (metric tonnes CO2e)     57
Comment                                         150
Increase/Decrease from last year                 20
Reason for increase/decrease in emissions        51
Population                                        0
Population year                                   0
GDP                                              48
GDP Currency                                     45
GDP Year                                         44
GDP Source                                       51
Average annual temperature (in Celsius)​          6
​Average altitude (m)                            22
​Land area (in square km)                         1
City Location                                     0
Country Location                                  0
dtype: int64

In [31]:

#columns that are irrelevant 
columns_to_drop = ['Account number', 'Organization', 'City', 'Country', 'Region', 'Access', 
                   'Reporting year', 'Accounting year', 'Boundary', 'Population', 
                   'Population year', 'City Location', 'Country Location']

# Dropping the columns
df_cleaned = df2.drop(columns=columns_to_drop)

In [32]:
print(df_cleaned.head())  # Displays the first 5 rows

   C40                                           Protocol  \
0  NaN  Global Protocol for Community-Scale Greenhouse...
1  C40  Global Protocol for Community-Scale Greenhouse...
2  C40  Global Protocol for Community-Scale Greenhouse...
3  NaN  U.S. Community Protocol for Accounting and Rep...
4  C40  Global Protocol for Community-Scale Greenhouse...

                                     Protocol column Gases included  \
0                                                NaN            NaN
1  Adaptation from Madrid Air Quality Inventory e...            NaN
2  ConEdison (ConEd) provided data on use of city...            NaN
3  Since 2006, the City has utilized software dev...  CO2; CH4; N2O
4                                                NaN            NaN

   Total emissions (metric tonnes CO2e)  \
0                            12232310.0
1                             9236196.0
2                            52042186.0
3                             1604007.0
4                            10197555.0

                                    Scopes Included   \
0  Total Scope 1, Scope 2 and Waste Scope 3 (Tota...
1  Total Scope 1, Scope 2 and Waste Scope 3 (Tota...
2  Total Scope 1, Scope 2 and Waste Scope 3 (Tota...
3                          Total Scope 1 and Scope 2
4  Total Scope 1, Scope 2 and Waste Scope 3 (Tota...

   Total Scope 1 Emissions (metric tonnes CO2e)  \
0                                     2249502.0
1                                     7069783.0
2                                    38962264.0
3                                      898681.0
4                                    10729801.0

   Total Scope 2 Emissions (metric tonnes CO2e)  \
0                                     9982808.0
1                                     3408424.0
2                                    14343743.0
3                                      759270.0
4                                       61912.0

                                             Comment  \
0                                                NaN
1                                                NaN
2                                                NaN
3  The one sector of tracking and reporting accur...
4                                                NaN

  Increase/Decrease from last year  \
0                        Increased
1                        Decreased
2                        Decreased
3                        Decreased
4                        Decreased

           Reason for increase/decrease in emissions           GDP  \
0  We are gradually improving the accuracy of our...  5.214700e+04
1  A decrease  of a 2,17 % in global emissions in...  1.293780e+11
2  The most significant driver was a milder winte...  1.558520e+12
3  Overall Community GHGs have fallen 1% since 20...           NaN
4  Agglomeration-wide GHG emissions were 25% lowe...  1.154128e+08

                 GDP Currency  GDP Year  \
0  ZAR     South African Rand    2010.0
1                EUR     Euro    2015.0
2           USD     US Dollar    2015.0
3                         NaN       NaN
4     CAD     Canadian Dollar    2013.0

                                          GDP Source  \
0           Built Environment Performance Plan(BEPP)
1  Contabilidad Municipal Trimestral. Ciudad de M...
2  http://www.brookings.edu/research/reports2/201...
3                                                NaN
4               Institut de la statistique du Québec

   Average annual temperature (in Celsius)​  ​Average altitude (m)  \
0                                      17.5                   69.0
1                                      15.0                  655.0
2                                      13.0                   10.0
3                                      18.2                  192.0
4                                       6.8                   17.0

   ​Land area (in square km)
0                     1950.0
1                      604.0
2                      784.0
3                      227.8
4                      500.0

In [33]:
df2.head()

,Account number,Organization,City,Country,Region,C40,Access,Reporting year,Accounting year,Boundary,...,Population year,GDP,GDP Currency,GDP Year,GDP Source,Average annual temperature (in Celsius)​,​Average altitude (m),​Land area (in square km),City Location,Country Location
0,49363,Nelson Mandela Bay Municipality,Nelson Mandela Bay,South Africa,Africa,NaN,Public,2017,2013-07-01 - 2014-06-30,A metropolitan area,...,2011,5.214700e+04,ZAR South African Rand,2010.0,Built Environment Performance Plan(BEPP),17.5,69.0,1950.0,"(-33.745241, 25.568108)","(-30.559482, 22.937506)"
1,31171,Ayuntamiento de Madrid,Madrid,Spain,Europe,C40,Public,2017,2014-01-01 - 2014-12-31,Administrative boundary of a local government,...,2016,1.293780e+11,EUR Euro,2015.0,Contabilidad Municipal Trimestral. Ciudad de M...,15.0,655.0,604.0,"(40.1076253, -3.3875673)","(40.463667, -3.74922)"
2,3417,New York City,New York City,USA,North America,C40,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2016,1.558520e+12,USD US Dollar,2015.0,http://www.brookings.edu/research/reports2/201...,13.0,10.0,784.0,"(40.7127837, -74.0059413)","(37.09024, -95.712891)"
3,59537,"City of Denton, TX","Denton, TX",USA,North America,NaN,Public,2017,2015-01-01 - 2015-12-31,Administrative boundary of a local government,...,2015,NaN,NaN,NaN,NaN,18.2,192.0,227.8,"(33.214841, -97.133068)","(37.09024, -95.712891)"
4,35894,Ville de Montreal,Montreal,Canada,North America,C40,Public,2017,2013-01-01 - 2013-12-31,A metropolitan area,...,2013,1.154128e+08,CAD Canadian Dollar,2013.0,Institut de la statistique du Québec,6.8,17.0,500.0,"(45.5086699, -73.5539925)","(56.130366, -106.346771)"

In [34]:
print(df_cleaned.shape)  # Displays (number of rows, number of columns)

(229, 18)

In [35]:
missing_values = df.isnull().sum()
print(missing_values)

Organisation                                 0
Account No                                   0
Country                                      0
City Short Name                              0
C40                                        197
Reporting Year                               0
Sector                                      12
Target boundary                             58
Baseline year                                5
Baseline emissions (metric tonnes CO2e)     18
Percentage reduction target                  0
Target date                                 10
Comment                                    142
City Location                                0
Country Location                             0
dtype: int64

In [74]:

# Fill missing values using median and mean for the mumercic values 
df2['Total emissions (metric tonnes CO2e)'] = df2['Total emissions (metric tonnes CO2e)'].fillna(df2['Total emissions (metric tonnes CO2e)'].mean()))

In [76]:
df2['Total Scope 1 Emissions (metric tonnes CO2e) '] = df2['Total Scope 1 Emissions (metric tonnes CO2e) '].fillna(df2['Total Scope 1 Emissions (metric tonnes CO2e) '].mean())

KeyError: 'Total Scope 1 Emissions (metric tonnes CO2e) '